<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= card.priority %>
  </p>

  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

  <p>
    <strong>List:</strong>
    <%= card.list_id %>
  </p>

</div>
