<!DOCTYPE html>
<html>
  <head>
    <title>TaskFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Carregar o Tailwind e outros estilos -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <% flash.each do |type, message| %>
        <div><%= message %></div>
      <% end%>
      <%= yield %>
    </main>
  </body>
</html>
